<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    <plugin name="uexBluetoothLE">
        <method name="init"></method>
        <method name="scanDevice"></method>
        <method name="stopScanDevice"></method>
        <method name="connect"></method>
        <method name="disconnect"></method>
        <method name="searchForCharacteristic"></method>
        <method name="searchForDescriptor"></method>
        <method name="readCharacteristic"></method>
        <method name="writeCharacteristic"></method>
        <method name="readDescriptor"></method>
        <method name="writeDescriptor"></method>
        <method name="readRemoteRssi"></method>
        <method name="setCharacteristicNotification"></method>
    </plugin>
</uexplugins>
